@font-face { 
    font-family: "Brandon Grotesque"; 
    src: url('Brandon_reg.otf'); 
} 
@font-face { 
    font-family: "Quicksand"; 
    src: url('Quicksand_Bold.otf'); 
} 


.envio-gratis {
	height: 20px;
	width: 100%;
	color: #FFFFFF;
	font-family: "Brandon Grotesque";
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
}

.rectangle-24 {
	height: 25px;
	width: 100%;
    background-color: #808080;
    text-align: center;
}
.shape {	
    height: 16px;	
    width: 18px;
}

.fill-1 {
	height: 18.88px;
    width: 20.27px;
}

.menu {	
    height: 4.56px;	
    width: 17.84px;
    font-size: 0.4em;
}

.bg-busca {	
    height: 35px;	
    width: 312px;	
    border: 1px solid #EBE7E4;	
}

.bg-busca::placeholder {
    font-weight: bold;
}

.bg-button {	
    height: 35px;	
    width: 35px;	
    background-color: #5CB8A3;
    border: 0px;
    border-radius: 5px;
}
.search-material {	
    height: 20px;	
    width: 20px;
}
.fill-7 {	
    height: 22.08px;	
    width: 95.43px;
}
.quitoBorde {
    border: 0px solid black;
}

.promociones-de-invi {
	height: 20px;
	width: 100%;
	color: #FFFFFF;
	font-family: "Brandon Grotesque";
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	text-align: center;
}
.rectangle-18 {	
    height: 25px;	
    width: 100%;	
    background-color: #EE988B;
}

.imagen1 {
    background-image: url(../imgs/photog_mobile.jpg);
    background-repeat: no-repeat;
    height: 230px;
    width: 100%;
    background-position: center; 
    text-align: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
}

.rebajas-70 {
	height: 68px;
	width: 100%;
	color: #4A4A4A;
	font-family: "Brandon Grotesque";
	font-size: 48px;
	font-weight: bold;
	line-height: 68px;
    text-align: center;
    margin-bottom: 0%;
}

.hasta-50-en-product {
	height: 26px;
	width: 100%;
	color: #4A4A4A;
	font-family: "Brandon Grotesque";
	font-size: 18px;
	font-weight: 500;
	line-height: 26px;
    text-align: center;
}

.compra-ya {
	height: 26px;
	width: 100%;
	color: #FFFFFF;
	font-family: "Brandon Grotesque";
	font-size: 14px;
	font-weight: bold;
	line-height: 26px;
	text-align: center;
}

.rectangle-7 {
	height: 31.81px;
	width: 129.9px;
	border-radius: 6px;
	background-color: #5CB8A3;
	box-shadow: 0 2px 0 0 #529888;
}

.mask {
    width: 100%;
    text-align: center;
}

.maskM {
	margin: auto;
}

.visible {
    display: none;
}

.necesitas-ayuda-91 {
	height: 19px;
	width: 100%;
	color: #FFFFFF;
	font-family: "Brandon Grotesque";
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
}

.dias-plazo-devo {
	height: 20px;
	width: 100%;
	color: #FFFFFF;
	font-family: "Brandon Grotesque";
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	text-align: right;
}

nav {
    background-color: #FFFFFF;
}

@media (min-width: 990px) {
    .hidden {
        display: none;
    }

    .visible {
        display: inline;
    }

    .bg-busca {
        width: 100%;
    }

    .hhd {
        width: 100%;
    }

    .fill-7 {
        width: 200px;
        height: auto;
        margin: auto;
    }

    .fav {
        height: 23px;
        width: 100%;
        color: #4A4A4A;
        font-family: "Brandon Grotesque";
        font-size: 16px;
        font-weight: bold;
        line-height: 23px;
        margin-top: 15px;
    }

    .mi-cuenta {
        width: 100%;
        color: #4A4A4A;
        font-family: "Brandon Grotesque";
        font-size: 16px;
        font-weight: bold;
        line-height: 23px;
    }

    .neg {
        height: 18px;
        color: #4A4A4A;
        font-size: 14px;
        font-weight: bold;
        line-height: 18px;
    }

    .ofertasRed {
        color: red;
    }


    .que-buscas-hoy-enc {
        width: 100%;
        color: #4A4A4A;
        font-family: "Brandon Grotesque";
        font-size: 16px;
        font-weight: 500;
        line-height: 23px;
    }

    .nav-item {
        padding-left: 10px;
        font-family: "Quicksand";
    }

    .maskD {
        width: 50%;
        text-align: center;
    }

    .div2 {
        margin: auto;
    }

    .rectangle-13 {
        height: 50px;
        width: 115px;
    }

    .rectangle-18 {
        margin-top: 6px;
    }

    .borde {
        width: 100%;
        text-align: center;
    }

    .cent {
        margin: auto;
        width: 350px;
    }

    .icono {
        text-align: center;
    }

    .alturaForm {
        margin-top: 10px; 
        width: 100%;
    }
}




